{%extends "base.html" %}
{%block title%} Home page {%endblock%}
{%block content%}
<h1 align="center"> Notes </h1>
<h3> Xin chào {{user.user_name}} ({{user.email}}), đây là ghi chú của bạn:</h3>
<ul class="list-group list-group-flush">
    {%for note in user.notes%}
    <li class="list-group-item">
        {{note.data}}
        <button type="button" class="close" onClick="deleteNote({{note.id}})"><span
                aria-hidden="true">&times</span></button>
    </li>
    {%endfor%}
</ul>

<form method="post">
    <textarea name="note" id="note" class="form-control"></textarea>
    <div>
        <button type="sumbit" class="btn btn-primary">Add Note</button>
    </div>

</form>
<div>
    <a class="btn btn-primary" id="logout" href="/logout">Logout</a>
</div>
{%endblock%}